*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    /*border: solid black;*/
    z-index: 1;
    width: 100%;
    background-color: white;
    position: fixed;
    height: 12.5vh;
    display: flex;
    justify-content: space-between;
}
h2{ 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.7em;
    /*border: solid black;*/
    width: 16vw;
}
.material-icons{
    /*border: violet solid;*/
    display: none;
}
.menuHeader{
    display: flex;
    justify-content: space-between;
}
ul{
    justify-content: flex-start;
    align-items: center;
    /*border: solid red;*/
    font-size: 15px;
    font-weight: bold 40px;
    display: flex;
    list-style: none;
    width: 35vw;
}
li{
    color:  #848484;
    width: 5vw;
    transition: 0.5s;
    /*border: solid tomato;*/
}
li a{
    text-decoration: none;
    color: #848484;
}
.liUlHeader{
    width: 9.5vw;
}
.liUlHeader a{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 900;
    font-size: 16px;
    /*border: solid blue;*/
}
.liUlHeader :hover{
    font-size: 18px;
}
li :hover{
    text-decoration: none;
    font-size: 18px;
    transition: 0.9s;
    color: black;
    font-weight: 900;
    font-size: 17px;
}
.firstSectionMain{
    height: 90vh;
    /*border: solid skyblue;*/
    background-image: url('./assets/laranja\ azul\ recorte.png');
    background-size: cover;
}
h1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /*border: solid purple;*/
    height: 45vh;
    width: 66vw;
    color: white;
    font-size: 55px;
    font-weight: 700;
}
.pSectionMain{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /*border: solid green;*/
    height: 16vh;
    width: 22vw;
}
.pSectionMain a{
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    color: white;
}
.aPSection:hover{
    font-size: 28px;
    transition: 0.9s;
    text-decoration-line: underline;
}
.secondSectionMain{
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 160vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
figure{
    margin: 7px;
    height: 45vh;
    /*border:solid rebeccapurple;*/
}
figure img{
    transition: all 1s;
    height: 45vh;
    width: 20vw;
}
figure img:hover{
    transform: scale(1.09);
}
footer{
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: #f4f4f4;
    /*border: solid rosybrown;*/
}
.socialNavFooter{
    padding-right: 2vw;
    display: flex;
    justify-content: center;
    /*border: solid blue;*/
    width: 35vw;
}
.socialNavFooter a img{
    display: flex;
    /*border: solid red;*/
    height: 5vh;
    width: 4vw;
}
h4{
    /*border: solid black;*/
    width: 8vw;
    font-size: 14px;
    font-weight: 700;
}
p{
    width: 33vw;
    /*border: solid red;*/
    font-size: 11px;
    font-weight: 400;
}
button{
    display: none;
}
@media(max-width: 375px){
    header{
        z-index: 0;
        /*background-color: deeppink;*/
        height: 5vh;
        width: 100vw;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
    h2{
        justify-content: center;
        width: 40vh;
        /*border: red solid;*/
        font-size: 1.3em;
        font-weight: 600;
    }
    .material-icons{
        background-color: black;
        color: #f4f4f4;
        text-align: center;
        width: 20vh;
        display: block;
        height: 5vh;
    }
    .menuHeader{
        position: fixed;
        background-color: #333333;
        cursor: pointer;
        width: 50vw;
        margin-top: 5vh;
    }
    ul{
        align-items: flex-start;
        flex-direction: column;
        font-size: 1.5em;
        text-align: center;
    }
    li{
        border: #6E6E6E solid;
        width: 50vw;
        height: 6vh;
    }
    .liUlHeader{
        text-align: start;
        border: #6E6E6E solid;
        width: 50vw;
        
    }
    .liUlHeader a{
        justify-content: center;
        align-items: center;
        font-size: 1em;
        font-weight: 500;
        color: #6E6E6E;
    }
    .firstSectionMain{
        background-image: url('./assets/laranja\ azul\ recorte@222x.png');
        height: 140vh;
        /*border: black solid;*/
    }
    h1{
        padding-left: 50px;
        /*border: coral solid*/
        width: 100vw;
        height: 120vh;
        font-size: 3em;
        font-weight: 700;
    }
    .pSectionMain{
        /*border: crimson solid;*/
        width: 60vw;
        height: 10vh;
    }
    .pSectionMain a{
        font-size: 20px;
        /*border: gold solid;*/
    }
    .secondSectionMain{
        padding: 0;
        height: 800vh;
        /*border: green solid;*/
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 50px;
    }
    figure{
        margin: 0;
        /*border: darkblue solid;*/
        height: 60vh;
    }
    figure img{
        /*border: chocolate solid;*/
        height: 60vh;
        width: 80vw;
    }
    .figureImg1{order: 10;}
    .figureImg2{order: 8;}
    .figureImg3{order: 3;}
    .figureImg4{order: 6;}
    .figureImg5{order: 1;}
    .figureImg6{order: 7;}
    .figureImg7{order: 4;}
    .figureImg8{order: 11;}
    .figureImg9{order: 9;}
    .figureImg10{order: 12;}
    .figureImg11{order: 2;}
    .figureImg12{order: 5;}

    footer{
        flex-direction: column;
        align-items: flex-start;
        height: 40vh;
        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .socialNavFooter{
        background-color: #7FDBD4;
        width: 80vw;
        height: 10vh;
        justify-content: space-around;
        align-items: center;
    }
    .socialNavFooter a img{
        height: 7vh;
        width: 9vw;
    }
    h4{
        width: 50vw;
        height: 8vh;
        align-items: flex-end;
        display: flex;
        font-weight: 600;
        font-size: 0.8em;
    }
    p{
        width: 35vh;
        height: 15vh;
    }
    div{
        /*border: indigo solid;*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
    }
    button{
        width: 15vh;
        height: 5vh;
        background-color: #333333;
    }
    button{
        display: block;
    }
    button a{
        font-size: 1.2em;
        color: #6E6E6E;
        text-decoration: none;
    }
}