*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    /*border: solid black;*/
    z-index: 1;
    width: 100%;
    background-color: white;
    position: fixed;
    height: 12.5vh;
    display: flex;
    justify-content: space-between;
}
h2{ 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.7em;
    /*border: solid black;*/
    width: 16vw;
}
.menuNavHeader{
    display: flex;
    justify-content: space-between;
}
ul{
    justify-content: flex-start;
    align-items: center;
    /*border: solid red;*/
    font-size: 15px;
    font-weight: bold 40px;
    display: flex;
    list-style: none;
    width: 35vw;
}
li{
    color:  #848484;
    width: 5vw;
    transition: 0.5s;
    /*border: solid tomato;*/
}
li a{
    text-decoration: none;
    color: #848484;
}
.liUlHeader{
    width: 9.5vw;
}
.liUlHeader a{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 900;
    font-size: 16px;
    /*border: solid blue;*/
}
.liUlHeader :hover{
    font-size: 18px;
}
li :hover{
    text-decoration: none;
    font-size: 18px;
    transition: 0.9s;
    color: black;
    font-weight: 900;
    font-size: 17px;
}
.firstSectionMain{
    height: 90vh;
    /*border: solid skyblue;*/
    background-image: url('./assets/laranja\ azul\ recorte.png');
    background-size: cover;
}
h1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /*border: solid purple;*/
    height: 45vh;
    width: 66vw;
    color: white;
    font-size: 55px;
    font-weight: 700;
}
.pSectionMain{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /*border: solid green;*/
    height: 16vh;
    width: 22vw;
}
.pSectionMain a{
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    color: white;
}
.aDivSection:hover{
    font-size: 28px;
    transition: 0.9s;
    text-decoration-line: underline;
}
.secondSectionMain{
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 160vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
figure{
    margin: 7px;
    height: 45vh;
    /*border:solid rebeccapurple;*/
}
figure img{
    transition: all 1s;
    height: 45vh;
    width: 20vw;
}
figure img:hover{
    transform: scale(1.09);
}
footer{
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: #f4f4f4;
    /*border: solid rosybrown;*/
}
.socialNavFooter{
    padding-right: 2vw;
    display: flex;
    justify-content: center;
    /*border: solid blue;*/
    width: 35vw;
}
.socialNavFooter a img{
    display: flex;
    /*border: solid red;*/
    height: 5vh;
    width: 4vw;
}
h4{
    /*border: solid black;*/
    width: 8vw;
    font-size: 14px;
    font-weight: 700;
}
p{
    width: 33vw;
    /*border: solid red;*/
    font-size: 11px;
    font-weight: 400;
}
/*@media(max-width: 375px){
    header{
        background-color: deeppink;
        height: 3vh;
    }
    h2{
        font-size: 1em;
    }
}*/